# Ignore everything by default
*
!*/

# Allow only exercise files and .gitignore
!exercise_*.c0
!.gitignore

!/scavhunt/
/scavhunt/*
!/scavhunt/*.c0
!/scavhunt/README.txt

# Allow test files
!*_test.c0
!tests/

# Ignore build artifacts and binaries
*.out
*.o
*.exe

# Ignore IDE/tool-specific files
.vscode/
.idea/


