# Ignore everything by default
*
!*/

# Allow only exercise files and .gitignore
!exercise_*.c0
!.gitignore

!/scavhunt/
/scavhunt/*
!/scavhunt/*.c0
!/scavhunt/README.txt

!/pixels/
/pixels/*
!/pixels/*.c0
!/pixels/README.txt

# Allow utility files
!*util.c0
!*utils.c0
# Allow test files
!*_test.c0
!tests/

# Ignore build artifacts and binaries
*.out
*.o
*.o0
*.exe

# Ignore IDE/tool-specific files
.vscode/
.idea/


